/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {

  .sidebar_top {
    background-color: white;
    padding: 25px;
  }

  .sidebar_btm {
    padding: 25px;
  }

  display: none;

  /* Sidebar navigation */
  .nav.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
      li > a {
        color: $grey-300;
        padding-right: 20px;
        padding-left: 20px;
        border: 1px solid $teal-700;
        background-color: $teal-700;
        margin: 0 10px 10px;
        border-radius: 4px;
      }
      li > a:hover,
      li > a:focus,
      li.active > a {
        margin: 0 10px 10px;
        border-radius: 4px;
        background-color: $teal-900;
        color: $grey-300;
      }
  }
}

  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 50px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: $teal-500;
    }
  }
