@for $i from 1 through 80 {
    .font#{$i} {
        font-size: 1px * $i;
    }
}
@for $i from 1 through 4 {
    .padding#{$i} {
        padding: 1em * $i;
    }
    .padding_top#{$i} {
        padding-top: 1em * $i !important;
    }
    .padding_btm#{$i} {
        padding-bottom: 1em * $i !important;
    }
    .padding_lr#{$i} {
        padding-left: 1em * $i !important;
        padding-right: 1em * $i !important;
    }
    .padding_tb#{$i} {
        padding-top: 1em * $i !important;
        padding-bottom: 1em * $i !important;
    }
}
.padding05 {
    padding: 0.5em;
}
.padding_lr05 {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}
.padding_top0 {
    padding-top: 0 !important;
}
.padding_btm0 {
    padding-bottom: 0 !important;
}
.padding0 {
    padding: 0;
}
.margin0 {
    margin: 0 !important;
}
@for $i from 1 through 4 {
    .margin#{$i} {
        margin: 1em * $i;
    }
    .margin_top#{$i} {
        margin-top: 1em * $i;
    }
    .margin_btm#{$i} {
        margin-bottom: 1em * $i;
    }
}
.margin05 {
    margin: 0.5em !important;
}
.margin_lr05 {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}
@for $i from 14 through 90 {
    .lh#{$i} {
        line-height: 1px * $i;
    }
}
.block {
    display: block;
}
.italic {
    font-style: italic;
}
// .btn-dark {
//     @include button-variant(rgba(0, 0, 0, 0.2));
// }
// .btn-dark:hover {
//     @include button-variant(rgba(0, 0, 0, 0.3));
// }
// $list-colors: 'teal' $teal, 'lightgreen' $lightgreen, 'lime' $lime, 'lightyellow' $lightyellow, 'brown' $brown, 'indigo' $indigo, 'grey' $grey, 'orange' $orange, 'deeporange' $deeporange, 'red' $red;
// @each $color in $list-colors {
//     $key: nth($color, 1);
//     $value: nth($color, 2);
//     .btn-#{$key} {
//         @include button-variant(#{$value});
//         color: #fff !important;
//     }
//     .btn-#{$key}:hover {
//         @include button-variant(darken($value, 5%) !important);
//     }
// }
.btn-share {
    padding: 8px 28px;
}
.trapezoid {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
/** form overrides **/
select.form-control {
    border-radius: 4px;
    background-color: white;
}
.dataTables_filter {
    display: none;
}
/** pagination styles **/
.pagination {
    font-size: 14px;
}
.pagination > li > a,
.pagination > li > span {
    color: $sidebar-color;
    border: none;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: $sidebar-color;
    border: none;
}
/** panel styles **/
.panel,
.panel-default,
.panel-footer {
    border: none;
}
/** pre-loader **/
span[class*="l-"] {
    height: 4px;
    width: 4px;
    background: #000;
    display: inline-block;
    margin: 12px 2px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-animation: loader 4s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -webkit-animation-fill-mode: both;
    -moz-animation: loader 4s infinite;
    -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -moz-animation-fill-mode: both;
    -ms-animation: loader 4s infinite;
    -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -ms-animation-fill-mode: both;
    animation: loader 4s infinite;
    animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    animation-fill-mode: both;
}
span.l-1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -ms-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
span.l-2 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}
span.l-3 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
span.l-4 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}
span.l-5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
span.l-6 {
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -ms-animation-delay: 0;
    -moz-animation-delay: 0;
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes loader {
    0% {
        -moz-transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        -moz-transform: translateX(30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
// @-keyframes loader {
//     0% {-transform: translateX(-30px); opacity: 0;}
//     25% {opacity: 1;}
//     50% {-transform: translateX(30px); opacity: 0;}
//     100% {opacity: 0;}
// }
@-ms-keyframes loader {
    0% {
        -ms-transform: translateX(-30px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        -ms-transform: translateX(30px);
        opacity: 0;
    }
}
.white,
a.white {
    color: white;
}

.btn-lg {
  padding: 20px;
}

.spinner {
  display: inline-block;
  width: 40px;
}

/** form overrides **/
body.app,
body.app-login {
  .form-control,
  .form-control:focus,
  .form-control:active {
    background-color: white;
    border-radius: 4px;
    padding: 0 10px;
  }
}

/** table styles **/
table.table {
  tbody{
    tr {
      background-color: white;
      border-bottom: 1px solid $teal-600;
      td {
        #DeleteAd,
        #DeleteCustomer {
          display: inline;
        }
      }
    }
    tr.deleted {
      background-color: $amber-200;
    }
    [id^="stats-ad"]{
      background-color: $teal-100;
      img.ad_preview {
        max-width: 100px;
      }
    }
  }
}

.well.deleted {
  background-color: $amber-200;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.text-info {
    color: $blue-500;
}

/** btn-fab overrides **/

.btn.btn-fab {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    width: 32px;
    height: 32px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}