@import 'bootstrap';
//@import 'variables';
@import 'material/material-fullpalette';
@import 'fontawesome';
@import 'sidebar';
@import 'material/ripples';
@import 'animate/animate';
@import 'utilities';
@import 'toastr';

/*** custom stylesheet ***/

* {
  margin: 0;
}

html, body {
	font-size: 16px;
	height: 100%;
  background-color: $grey-300;
  // color: #251f1c;
}

h1,h2 {
  color: $teal-900;
}

.navbar[class*="navbar-material-"] {
  max-height: 50px;
  .nav.navbar-nav li {
    max-height: 50px;
    padding: 0 20px;
    background-color: darken($teal-700, 10%);
    a {
      padding: 0;
      line-height: 50px;
    }
  }
  .nav.navbar-nav li:hover,
  .nav.navbar-nav li:active,
  .nav.navbar-nav li:focus {
    background-color: darken($teal-800, 20%);
  }
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar-collapse {
  border: 0;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 360px;
}

.home {
  background-image: url('/images/wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;
  .headerbg {
  		display: table;
      background-color: rgba(0, 0, 0, 0.6);
  	  background-blend-mode:multiply;
  		background-size: cover;
  		-webkit-background-size: cover;
  		   -moz-background-size: cover;
  		    -ms-background-size: cover;
  		     -o-background-size: cover;
  		width: 100%;
      height: 100%;
  		.container {
        position: relative;
  			display: table-cell;
  			vertical-align: middle;
  			.logo {
  				width: 100%;
  			}
        h2 {
          color: white;
          font-size: 24px;
        }
  		}
  	}
}

.login {
  display: table;
  height: 100%;
  width: 100%;
  .container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    .well {
      h2 {
        color: white;
        font-size: 2.5rem;
      }
    }
  }
}

a {
	text-decoration: none;
	color: darken($indigo, 10%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: darken($indigo, 15%);
}

.sba {
    a:hover {
        text-decoration: none;
        background: darken($indigo, 15%);
        @include opacity(0.5);
    }
}

.login-area {
  .well {
    border-radius: 4px;
  }
}

.navbar {
  margin: 0;
}

p {
    margin: 0 0 26px;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.name {
	font-size: 3em;
}

.shadow {
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

.box-shadow {
	-webkit-box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.73);
    -moz-box-shadow:    0px 5px 18px 0px rgba(50, 50, 50, 0.73);
    box-shadow:         0px 5px 18px 0px rgba(50, 50, 50, 0.73);
}

.header {
	position: fixed;
	top: 0;
	z-index: 200;
	width: 100%;
}

.wrapper {
    height: 100%;
}

.circle {
    width:50%;
    box-shadow: 0 0 0 0 rgba($indigo, 0.7);
    border-radius: 50%;
    border: 2px solid #fff;
/*     -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); */
}

.circle:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background-color: $indigo;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

blockquote {
    background: white;
    font-size: 24px;
}

/*
 * Main content
 */

.main {
  margin-top: 50px;
  padding: 25px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.content-wrapper {
	min-height: 100%;
	position: relative;
	width: 100%;
}

.width100 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.top50 {
	margin-top: 50px;
}

.greenbg {
    background-color: rgba($light-green-100, 0.7);
}

.border2 {
    border-radius: 2px;
}

.pulse {
  @include bounceIn();
  transition: 0 999999s;
}

.hoverme {
	background-color: rgba(0, 0, 0, 0.5);
}

img.home_img {
	max-width: 160px;
}

svg {
	fill: #fff;
	width: 80px;
}

svg.blog path {
	fill: #fff !important;
	height: 80px;
	margin-right: 10px;
}

svg.chevron {
	height: 32px;
	width: 32px;
}

svg.twitter {
	height: 32px;
	width: 32px;
	fill: #4099FF;
}

svg.bacon {
	height: 32px;
}

svg.google {
	height: 32px;
	width: 32px;
	// fill:$red_bg;
}

img.home_icons {
	width: 80px;
}

.border4 {
	border: 5px solid #fff;
}

.home_icons {
	display: block;
	position:absolute;
	max-width: 80px;
	max-height: 80px;
	left: 50%;
	top: 50%;
	margin: -40px -40px 0;
}

.me_icons {
	display: block;
	position:absolute;
	max-width: 100px;
	max-height: 100px;
	left: 50%;
	top: 50%;
	margin: -50px -50px 0;
}

.rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/** font colors **/

.alert p,
.white-font,
a.white-font,
a.white-font:hover {
	color: #fff !important;
}

.green-font {
	color: $light-green-100;
}

.grey-font,
a.grey-font,
a.grey-font:hover {
    color: $grey;
}

.red-font {
	color: $red;
}

.hide {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.round {
    height:160px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.text-center {
	text-align: center;
}

.center {
	margin: 0 auto;
}

/* main {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -340px;
} */

.footerWrapper {
	position: relative;
	width: 100%;
	height: 340px;
    margin: 0 auto;
}

.topFooter {
	width: 100%;
	height: 100px;
}

.h40 {
	height: 40px;
}

.h50 {
	height: 50px;
}

.lh100 {
	line-height: 100px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.ht5 {
	height: 5px;
}

.padding0 {
	padding: 0 !important;
}

ul.social li {
	list-style: none;
	display: inline-block;
	/*width: 40px;*/
}

.right {
	float: right;
}

.left {
	float: left;
}

.kern2 {
  letter-spacing: 2px;
}

.widget_recent_entries .well {
  background-color: $orange;
}

.list-group .list-group-item .list-group-item-heading,
.list-group .list-group-item .list-group-item-text {
  font-size: 14px;
  line-height: 14px;
}

.list-group .list-group-item .list-group-item-heading {
  padding-top: 0.5em;
}

.list-group a:nth-child(2) {
  background-color: #FFA51F;
}

.list-group a:nth-child(3) {
  background-color: #FFAD33;
}

.list-group a:nth-child(4) {
  background-color: #FFB647;
}

a.recent:hover,
a.recent:hover .list-group-item-heading {
  background-color: #F59300;
  color: #251f1c;
  text-decoration: none;
}

a.recent:hover .row-action-primary i {
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.ride-panel {
    margin: 0px auto 0;
    width: 100%;
    position: relative;
    background-image: url('/assets/images/mybike.jpg');
    background-color: $indigo;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    color: white;
}

.miles-panel {
    margin: 0px auto 0;
    width: 100%;
    position: relative;
    background-image: url('/assets/images/trail.jpg');
    background-color: $indigo;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    color: white;
}

.calories-panel {
    margin: 0px auto 0;
    width: 100%;
    position: relative;
    background-image: url('/assets/images/racoon.jpg');
    background-color: $indigo;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    color: white;
}

.rightbar {
    background:$sidebar-color;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
}

.text-line {
    margin-top: -30px;
    color: white;
}

.alert {
  color: $grey-300;
}

.toast-top-center {
  margin: 20px;
}

li.nobg {
  background-color: $teal-800 !important;
  span {
    line-height: 50px;
  }
}

@import 'media_queries';
